[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/flycast.png
Exec=/usr/bin/batocera-config-flycast
Terminal=false
Type=Application
Categories=Game;ProjectArcade;
Name=flycast-config
