[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/model2emu.png
Exec=/usr/bin/batocera-config-model2emu
Terminal=false
Type=Application
Categories=Game;ProjectArcade;
Name=model2-config
