[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/scummvm.png
Exec=/usr/bin/batocera-config-scummvm
Terminal=false
Type=Application
Categories=Game;ProjectArcade;
Name=scummvm-config
