[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/batocera/xenia-canary.png
Exec=/usr/bin/batocera-config-xenia-canary
Terminal=false
Type=Application
Categories=Game;ProjectArcade;
Name=xenia-canary-config
